
 .custom-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #112D32;
  color: #FEFFFF;
}

/* anchor/Link-- The Brand */
a {
  color: #FEFFFF;
}

a:hover {
  color: #88BDBC;
}


/* 'leagues' dropdown */
.custom-navbar .nav-link {
  margin-left: 15px;
  color: #FEFFFF;
}
.custom-navbar .nav-link:hover { 
  color: #88BDBC;
}

.navbar-nav .show>.nav-link{
  color: #88BDBC;
}

/* Login/out button */
.custom-navbar .navbar-log {
  margin-right: 15px;
}

.custom-navbar .navbar-toggler {
  border: none;
}


/* ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
} */


/* .navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}
*/
/* .brand {
  cursor: pointer;
  font-size: 2rem;
}  */
