
 .custom-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #34495E;

}

/* .custom-navbar .navbar-brand {
  margin-left: auto;

} */

/* The 'leagues' dropdown */
.custom-navbar .nav-link {
  margin-left: 15px;
  color: azure;
}

.custom-navbar .navbar-log {
  margin-right: 15px;
}

.custom-navbar .navbar-toggler {
  border: none;
}


/* ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
} */


/* .navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}
*/
/* .brand {
  cursor: pointer;
  font-size: 2rem;
}  */
