

#root {
  box-sizing: border-box;
  background-color: #f8f9fa;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
